{% extends "base.html" %}
{% block title %}Paypal Demo - Checkout{% endblock title %}
{% block content %}
	<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
	<div id="paypal-button"></div>
	<script>
		paypal.Button.render({
		
			env: 'sandbox', // Specify 'sandbox' for the test environment

			payment: function (resolve, reject) {

				const CREATE_PAYMENT_URL = '/paypal';

				paypal.request.post(CREATE_PAYMENT_URL)
					.then(data => {
						resolve(data.token);
					})
					.catch(err => {
						reject(err);
					});

			},

			onAuthorize: function (data, actions) {

				const CREATE_AGREEMENT_URL = '/create_payment';

				fetch(CREATE_AGREEMENT_URL, {
					headers: { 'Content-Type': 'application/json' },
					method: 'POST',
					body: JSON.stringify({ token: data.paymentToken })
				}).then(response => {
					return response.json();
				}).then(baid_data => {
					alert(`Your BAID: ${baid_data.baid}`);
				}).catch(err => {
					alert('Uh oh!');
				});

		   }
				
		}, '#paypal-button');
	</script>
{% endblock content %}
